In [2]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('/content/Data_for_UCI_named.csv')

In [6]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [7]:
df.drop(columns= 'stab', inplace= True)

In [8]:
X = df.copy()
y = X.pop('stabf')
X.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923

In [9]:
# Feature scaling

from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
X = scale.fit_transform(X)

In [10]:
# Splitting into train and test sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, train_size = .80)

In [11]:
# Training the Random Forest Classifier

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=1)
rf.fit(X_train,y_train)
y_rf = rf.predict(X_test)

In [12]:
# Training the Extra trees Classifier

from sklearn.ensemble import ExtraTreesClassifier
et = ExtraTreesClassifier(random_state=1)
et.fit(X_train,y_train)
y_et = et.predict(X_test)

In [13]:
# Training the XGBoost Classifier

from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_xgb = xgb.predict(X_test)

In [14]:
# Training the Light Gradient Boosting Classifier

from lightgbm import LGBMClassifier
lg = LGBMClassifier()
lg.fit(X_train,y_train)
y_lg = lg.predict(X_test)

#### Question 13

In [15]:
# accuracy score for Random Forest Model

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_rf)

0.929

#### Question 14

In [16]:
# accuracy score for Extra Trees Model

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_et)

0.928

#### Question 15

In [17]:
# accuracy score for XGBoost Model

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_xgb)

0.9195

#### Question 16

In [18]:
# accuracy score for Light Gradient Boosting Model

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_lg)

0.9475

#### Question 17

In [ ]:
from scipy.stats import loguniform
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import RepeatedStratifiedKFold

cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

# define search space
space = dict()
space['solver'] = ['newton-cg', 'lbfgs', 'liblinear']
space['penalty'] = ['none', 'l1', 'l2', 'elasticnet']
space['C'] = loguniform(1e-5, 100)

search = RandomizedSearchCV(et, space, n_iter=10, scoring='accuracy', n_jobs=-1, cv=5, random_state=1, verbose = 1)
result = search.fit(X, y)

# summarize result
result.best_params_

#### Question 18

#### Question 18

#### Question 18

#### Question 19

#### Question 20

In [ ]:

et.feature_importances_